<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">
      Dashboard Works
    </h1>
    <p class="lead">
      Here it is
    </p>
    <button
      (click)="handleClick()"
      type="button"
      class="btn btn-outline-dark"
    >
      Click to see your user data
    </button>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">
      User data:
    </h3>
    <p class="card-text">
      {{ userData }}
    </p>
  </div>
</div>